// Specific CSS for your home-page
h2 {
  margin: 60px 0px;
}

.how {
  p {
    font-size: 24px;
  }
}

.icon {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin: 30px auto;
  padding: 50px;
  background-color: $green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $green-hover;
    transition: .5s ease;
  }

  img {
    margin-top: 15px;
  }
}
