<%= link_to garden_path(garden) do %>
  <div class="card-trip">
    <%= image_tag garden.banner_url %>
    <div class="card-trip-infos">
      <div>
        <h2><%= garden.name %></h2>
        <p>TODO</p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
<% end %>


