<%= link_to garden_path(garden) do %>
  <div class="card-garden">
    <%= image_tag garden.banner_url %>
    <div class="card-garden-infos">
      <div>
        <h2><%= garden.name %></h2>
      </div>
      <% user = ["papillard", "ssaunier", "krokrob", "juliends", "Eschults", "grmnlrt"].sample %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user}", class: "card-garden-user avatar-bordered" %>
    </div>
  </div>
<% end %>


